footer {
  position: fixed;
  display: flex;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #d4d8f02f;
  height: 9%;
}
footer p {
  margin: 27px 30px 22px auto;
  color: #23294663;
}
@media screen and (max-aspect-ratio: 1/1) {
  footer {
    visibility: hidden;
  }
}
