.sign-body,
#addform,
#addCatform {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #d4d8f0;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
.close_form {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.sign-body:target,
#addform:target,
#addCatform:target {
  opacity: 0.95;
  visibility: visible;
}
.box__form {
  text-align: center;
  margin: 20px;
}

.box {
  background-color: #fffffe;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 20px 50px;
  border-radius: 20px;
}

.box header p {
  color: #232946;
  margin: 5px;
  height: 60px;
  padding: 0;
  font-size: 2.4rem;
  font-weight: 100;
  text-align: center;
}

.box__p_muted {
  color: #070a35;
  text-align: center;
  margin: 0;
}

.box__input {
  display: block;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 40px;
  border: 2px solid #eebbc3;
  padding: 10px 50px;
  text-align: center;
  background-color: #fffffe;
  color: #232946;
  border-radius: 24px;
  font-size: 1em;
  width: 40%;
  transition: 200ms ease-out;
  outline: none;
}
.box__button_submit {
  cursor: pointer;
  text-decoration: none;
  display: block;
  background: none;
  color: #232946;
  border: 2px solid #eebbc3;
  border-radius: 24px;
  font-size: 1.1em;
  text-align: center;
  margin: 25px auto;
  width: 70%;
  transition: 200ms ease-out;
  outline: none;
  padding-top: 10px;
  padding-bottom: 10px;
}
#box__input__select {
  width: 227px;
}

.wrapper {
  display: inline-flex;
  height: 30px;
  width: 40%;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
}

.wrapper .option {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10px;
  border-radius: 15px;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid #b8c1ec;
  transition: all 0.3s ease;
}

.wrapper .option .dot {
  height: 10px;
  width: 10px;
  background: #b8c1ec;
  border-radius: 50%;
  position: relative;
}

.wrapper .option .dot::before {
  position: absolute;
  content: "";
  top: 2px;
  left: 2px;
  width: 6px;
  height: 6px;
  background: #eebbc3;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}

input[type="radio"] {
  display: none;
}

#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2 {
  border-color: #eebbc3;
  background: #eebbc3;
}

#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot {
  background: #fff;
}

#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before {
  opacity: 1;
  transform: scale(1);
}

.wrapper .option span {
  font-size: 15px;
  color: #808080;
}

#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span {
  color: #fff;
}
.validation,
.validation1,
.validationC,
.validationT {
  color: red;
}
.box__input:focus {
  width: 50%;
  border-color: #b8c1ec;
}

#submit {
  margin-top: 70px;
}

.box__a_signup {
  text-decoration: none;
  color: #b8c1ec;
  transition: 250ms;
  padding: 0 7px;
  border-width: 0;
  border-radius: 24px;
}

.box__a_signup:hover {
  background-color: #eebbc3;
  color: #121629;
}

select {
  width: 300px;
}

.box__button_submit:hover {
  background-color: #eebbc3;
}

@media screen and (max-aspect-ratio: 1/1) {
  .box {
    width: 100%;
    height: 100%;
    padding-top: 20%;
    border-radius: 0;
    overflow: auto;
  }
  .box input {
    padding: 10px 50px;
  }
}
